.annotationPanel {
  width: 300px;
  position: relative;
  right: 10px;
  display: none;
  height: 100%;
  top: 40px;
}

.canpress {
  cursor: pointer;
}

.canpress:hover {
  background-color: gray;
}

.highlight {
  background-color: pink;
}

.iconButton {
  margin-left: 20px;
}

.annotationControlPanel {
  display: flex;
  align-items: center;
  height: 34px;
}
