<ngx-extended-pdf-viewer
  style="flex: 1 1 100%"
  #viewer
  src="./assets/hammond-organ-wikipedia.pdf"
  [useBrowserLocale]="true"
  height="100vh"
  [page]="1"
  [handTool]="false"
  [showHandToolButton]="true"
  [textLayer]="false"
  (pageRendered)="annotationsService.pageRendered($event)"
  (pdfLoaded)="annotationsService.pdfLoaded($event)"
  [customToolbar]="additionalButtons"
  (currentZoomFactor)="annotationsService.zoomChange($event)"
></ngx-extended-pdf-viewer>

<ng-template #additionalButtons>
  <div id="myToolbarViewer" class="mytoolbar">
    <div class="annotationControlPanel" id="toolbarViewerLeft">
      {{ annotationsService.getUser().userName }}
    </div>

    <pdf-zoom-toolbar></pdf-zoom-toolbar>

    <div class="annotationControlPanel" id="toolbarViewerRight">
      <ng-container *ngIf="annotationsService.isActive()">
        <mat-icon
          *ngIf="!annotationsService.isPrivate"
          style="margin-right: 10px; color: rgb(49, 49, 245)"
          matTooltip="New comments will be public. Click to default to private."
          (click)="annotationsService.isPrivate = true"
          >visibility</mat-icon
        >
        <mat-icon
          *ngIf="annotationsService.isPrivate"
          style="margin-right: 10px; color: rgb(49, 49, 245)"
          matTooltip="New comments will be private. Click to default to public."
          (click)="annotationsService.isPrivate = false"
          >visibility_off</mat-icon
        >

        <!-- <mat-checkbox
          matTooltip="Only you can see private comments "
          style="margin: 0 12px"
          [(ngModel)]="annotationsService.isPrivate"
        >
        </mat-checkbox>
        <span style="margin-left: 10px"> private </span> -->

        <mat-icon
          [ngClass]="{
            canpress: true,
            highlight: highlightPen,
            iconButton: true
          }"
          (click)="penAnnotate()"
          matTooltip="Annotate with Pen"
          >gesture</mat-icon
        >
      </ng-container>

      <mat-icon
        [ngClass]="{
          canpress: true,
          iconButton: true
        }"
        (click)="toogleAnnotations()"
        matTooltip="Show Annotation Tools"
        >comments</mat-icon
      >
    </div>
  </div>
</ng-template>

<!--    HACK FOR THE MOMENT UNTIL WE GET A PROPER RIGHT PANEL -->

<ngx-extended-pdf-annotation #annotationPanel [commentItem]="commentItem">
</ngx-extended-pdf-annotation>

<ng-template #commentItem let-comment="comment">
  <ngx-extended-pdf-comment-item
    [comment]="comment"
  ></ngx-extended-pdf-comment-item>
</ng-template>
