.canpress {
  cursor: pointer;
}

.canpress:hover {
  background-color: gray;
}

.highlight {
  border: 2px solid blue;
  // background-color: pink;
}

.iconButton {
  margin: 0px 5px;
}

.annotationControlPanel {
  position: relative;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 34px;
  margin: 0px 10px;
}

.mytoolbar {
  min-height: 34px;
  padding: 0px 15px;
  // display: fex;
  // justify-content: space-between;
}
