<ngx-extended-pdf-viewer
  style="flex: 1 1 100%"
  #viewer
  src="./assets/hammond-organ-wikipedia.pdf"
  [useBrowserLocale]="true"
  height="100vh"
  [page]="1"
  [handTool]="false"
  [showHandToolButton]="true"
  [textLayer]="false"
  (pageRendered)="annotationsPanel.pageRendered($event)"
  (pdfLoaded)="annotationsPanel.pdfLoaded($event)"
  [customToolbar]="additionalButtons"
></ngx-extended-pdf-viewer>

<ng-template #additionalButtons>
  <div id="toolbarViewer" class="toolbar">
    <pdf-zoom-toolbar></pdf-zoom-toolbar>
    <mat-icon
      [ngClass]="{ canpress: true, hightlight: highlightPen }"
      (click)="penAnnotate()"
      matTooltip="Annotate with Pen"
      >gesture</mat-icon
    >
  </div>
</ng-template>

<!--    HACK FOR THE MOMENT UNTIL WE GET A PROPER RIGHT PANEL -->

<ngx-extended-pdf-annotation-wrapper #annotationPanel class="annotationPanel">
  <app-annotation> </app-annotation>
</ngx-extended-pdf-annotation-wrapper>
