$primaryColor: #0097a7;
$borderLightGrey: grey;
$textMediumGrey: rgb(87, 87, 87);
$textDarkGrey: #546e7a;
$commentBackground: rgb(255, 255, 255);
$iconLightGrey: #a9b6bc;
$icontextDarkGrey: #546e7a;

$borderRadius: 6px;
$panelItemWidth: 25rem;
