// @import '../../../../../assets/scss/utilities/_variables.scss';
$black: #000;
$white: #fff;
$regent-gray: #889aa2;
$tiara: #ccd4d7;
$mercury: #e8e8e8;
$orgbrain-gray: #546e7a;
$orgbrain-blue: #0097a7;
$orgbrain-orange: #f57c00;

.chat-window {
  width: 400px;
  height: 100%;
  // height: calc(min(700px, 90vh));

  &.is-mobile {
    width: 90vw;
    height: 80vh; // Should be set dynamically by style attribute, this is just a fallback if that doesn't work for some reason

    .chat-window-messages-section {
      padding: 12px;
    }
  }

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  // border-radius: 18px;
  background-color: white;

  display: flex;
  flex-direction: column;

  .chat-window-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px 18px 0 0;

    background-color: $orgbrain-blue;

    .chat-window-heading {
      color: white;
      font-weight: 500;
      font-size: 16px;
      margin: 0;
      padding: 16px;
    }

    .close-button {
      margin-right: 8px;
    }
  }

  .chat-window-messages-section {
    flex: 1;
    // overflow-y: scroll;
    padding: 16px;
    display: flex;
    flex-direction: column;

    .chat-messages-window-info-text {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: $regent-gray;
      align-self: center;
      margin-bottom: 16px;
    }

    .empty-scroll-space-for-loading-earlier-messages {
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; // push the trigger to bottom of this element

      .load-earlier-messages-trigger {
        height: 1px;
      }
    }

    .loading-messages-spinner {
      align-self: center;
      margin-bottom: 16px;
    }

    .chat-message-full-width-container {
      display: flex;
      flex-direction: column;

      &:not(:last-child):not(:nth-last-child(2)) {
        // The last child is the bottomOfMessagesElement div, therefore also :nth-last-child(2)
        // to not apply bottom margin to the last chat-message-full-width-container.
        margin-bottom: 16px;
      }

      .chat-message-bubble {
        max-width: calc(100% - 80px); // buttons and separator are 80px
        width: fit-content;
        // background-color: #dce5e6;
        background-color: #e1e4e4;
        color: #050505;
        border-radius: 18px;
        padding: 9px 13px;
        font-size: 15px;
        overflow-wrap: break-word;
        white-space: pre-wrap;

        &.message-is-deleted {
          border: 1px dashed $orgbrain-gray;
          background-color: white;
          color: $regent-gray;
          font-style: italic;
          padding: 7px 13px;
        }
      }

      .chat-message-top-meta-info {
        margin-bottom: 6px;
        font-size: 12px;
        color: $orgbrain-gray;

        .chat-message-top-meta-reply-icon {
          font-size: 18px;
        }
      }

      .chat-message-replying-to-message-bubble-container {
        display: flex;
        align-items: flex-start;
        margin-left: 8px;
        margin-bottom: -8px;

        .chat-message-bubble:not(.message-is-deleted) {
          background-color: #f2f3f3;
          color: #5d5d5d;
        }
      }

      .chat-message-bubble-and-buttons {
        display: flex;
        align-items: center;

        .bubble-and-buttons-separator {
          width: 8px;
        }

        .chat-message-buttons {
          height: 36px;
          display: flex;
          align-items: center;
          visibility: hidden; // shown on hover
          color: $orgbrain-gray;

          button {
            height: 36px;
            width: 36px;
            line-height: 36px;
          }

          .delete-menu-button-for-non-admin {
            display: none; // shown on own messages
          }
        }

        &:hover .chat-message-buttons,
        &.is-delete-menu-open .chat-message-buttons {
          visibility: unset;
        }
      }

      &.message-is-sent-by-current-user {
        .chat-message-top-meta-info {
          text-align: right;

          .chat-message-top-meta-sent-by-name-if-not-current-user {
            display: none;
          }
        }

        .chat-message-replying-to-message-bubble-container {
          justify-content: flex-end;
          margin-left: 0;
          margin-right: 8px;
        }

        .chat-message-bubble-and-buttons {
          flex-direction: row-reverse;

          .chat-message-bubble:not(.message-is-deleted) {
            background-color: $orgbrain-blue;
            color: white;
          }

          .chat-message-buttons {
            flex-direction: row-reverse;

            .delete-menu-button {
              display: unset; // everyone can delete their own messages
            }
          }
        }
      }
    }

    .bottom-of-messages-element {
      height: 1px;
    }
  }

  .there-are-new-messages-below-notification {
    position: relative;
    bottom: 56px;
    height: 0;
    margin: 0 auto;
  }

  .chat-window-textbox-section {
    border-top: 1px solid $regent-gray;
    background-color: #f7fbfb;
    border-radius: 0 0 18px 18px;

    .is-replying-to-message-info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $regent-gray;

      .is-replying-to-message-info {
        margin: 8px;
        font-size: 15px;

        .is-replying-to-message-info-first-line-who-info {
          .is-replying-to-message-info-who-name {
            font-weight: 500;
          }
        }
      }
    }

    .chat-window-formfield {
      height: 100%;
      width: 100%;

      .chat-window-textarea-message-input {
        color: #050505;
        font-size: 16px;

        &::placeholder {
          font-size: 16px;
        }
      }
    }
  }
}
