/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$black: #000;
$white: #fff;
$regent-gray: #889aa2;
$tiara: #ccd4d7;
$mercury: #e8e8e8;
$orgbrain-gray: #546e7a;
$orgbrain-blue: #0097a7;
$orgbrain-orange: #f57c00;
$agenda-blue: #e7f9fb;

$primary-separator: #0d47a1;
$primary-dropfield: #b7bbcb;
$hint-color: #2d76d3;
$dull-background: #fafafa;

$agenda-blue-hover: #cbe4e9;
$label-br: 4px;
$label-width: 80px;
$title-font-size: 35px;
$agenda-title-font-size: 20px;
