$greyLight: grey;
$greyMedium: rgb(87, 87, 87);
$greyBold: rgb(41, 41, 41);
$iconhilight: #fce4cb;
$iconcolor: #0097a7;
$greyLight: grey;
$greyMedium: rgb(87, 87, 87);
$greyBold: rgb(41, 41, 41);
$darkGrey: #546e7a;

$commentBackground: rgb(255, 255, 255);
